<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link href="Content/css/MyStyles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Favorite Traveling Photos</h1>
    <ul>
      <li><img src='Content/img/2.jpg'/></li>
      <li><img src='Content/img/3.jpg'/></li>
      <li><img src='Content/img/download.jpg'/></li>
      <p><a href='/' >Go Back</a></p>
    </ul>
  </body>
</html>
